.wf-watermark-wrapper {
    padding: 10px;
}
.generate-watermark-image-old-product {
    padding: 10px;
    background: #DDD;
    min-height: 110px;
}
#generate-watermark-old-product-image {    
    background: #2271b1;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    margin: 0;
    padding: 5px 10px;    
    border-radius: 3px;
    cursor: pointer;
}
#generate-watermark-old-product-image:hover {    
    background: #135e96;    
}
.generator_status {
    margin: 10px 0;
    color: #235503;
    font-size: 13px;
}